<!doctype html>
<html lang="en">

    <head>
        <title>Тестовое задание python dev API</title>
        <meta charset="utf-8">
    </head>

    <body>

            <form method="{{ method }}" style="display:none" action="{{ url }}">

                {% for key, val in values.items() %}
                    <input name="{{ key }}" value="{{ val }}">
                {% endfor %}

                <input id="submit" type="submit">
        </form>

        <script>
            document.getElementById("submit").click();
        </script>

    </body>
</html>