<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Тестовое задание python dev API</title>
  </head>
  <body>


    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light">
      <div class="navbar-brand">
        <img src="https://www.nicepng.com/png/full/303-3038160_consumer-payment-comments-payment-icon-png.png" height="30" class="d-inline-block align-top">
          {{ n }}
      </div>
    </nav>



    <br><br><br>




<form class="container" action="{{ url_for('index') }}" method="POST">


  <div class="form-row">

    <div class="form-group col-md-6">
      <label for="amount">Amount</label>
      <input type="number" required step="0.01" min="0" max="100000" class="form-control" id="amount" name="amount"  placeholder="Amount">
    </div>

    <div class="form-group col-md-4">
      <label for="currency">Currency</label>
      <select id="currency" name="currency" class="form-control">
        <option>EUR</option>
        <option>USD</option>
        <option>RUB</option>
      </select>
    </div>

  </div>


  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control col-md-10" id="description" maxlength="255" name="description" rows="3"  placeholder="Description"></textarea>
  </div>
    <button type="submit" class="btn btn-primary">Pay</button>

</form>





    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>