<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Pay Info</title>
</head>
<body>

    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light">
      <div class="navbar-brand">
        <img src="https://www.nicepng.com/png/full/303-3038160_consumer-payment-comments-payment-icon-png.png" height="30" class="d-inline-block align-top">
          Payment
      </div>
    </nav>

    <br><br>

    {{ html_table | safe }}

</body>
</html>